server {
{% if (site.nginx_proxy_listen_http | default(nginx_proxy_listen_http)) %}
    listen       {{ site.nginx_proxy_listen_http | default(nginx_proxy_listen_http) }}
{%   if (site.nginx_proxy_is_default | default(False)) %}
      default_server
{%   endif %};
{% endif %}

{% if (site.nginx_proxy_ssl | default(nginx_proxy_ssl)) and (site.nginx_proxy_force_ssl | default(nginx_proxy_force_ssl)) %}
    server_name  {{ site.nginx_proxy_server_name | default(nginx_proxy_server_name) }};
    # Redirect all http to https
    return 301 https://$host$request_uri;
}